<p>S&eacute;lectionnez un super-administrateur dans la liste des utilisateurs actuellement inscrits dans la base.</p>
<div id="" class="popup contenu">
	<table id="table_data1" class="display">
		<thead>
			<tr>
				<td>Prenom</td>
				<td>Nom</td>
				<td>Login</td>
				<td>Compte</td>
				<td><br /></td>
			</tr>
		</thead>
		<tbody>
		<?php
			// printr($users);
			for($i=0; isset($users[$i]); $i++)
			{
				$row = $users[$i];
				echo "<tr>";
				echo "<td>".$row['prenom']."</td>";
				echo "<td>".$row['nom']."</td>";
				echo "<td>".$row['login']."</td>";
				echo "<td>".$row['compte']."</td>";
				echo "<td><a href=\"$appurl/superadmin/action_ajouter_superadministrateur?id_user=".$row['id_user']."\">ajuter</a></td>";
				echo "</tr>";
			}
		?>
		</tbody>
	</table>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#table_data1').dataTable( {
		"aLengthMenu": [[10, 15, 20, 50, 100, -1], [10, 15, 20, 50, 100, "Tous"]],
		"iDisplayLength": <?php echo $_SESSION[IDAPPLI]['user']['params']['nb_lignes']; ?>,
			"bPaginate": true,
			"bProcessing": true,
			"bLengthChange": true,
			"bFilter": true,
			"bSort": true,
			"bInfo": true,
			"bAutoWidth": false,
			"aoColumns": [
				null,
				null,
				null,
				null,
				{ "bSortable": false }
        ], 
		"aaSorting": [[ 1, "asc" ], [ 0, "asc" ]],
		"oLanguage": { "sUrl": "<?php echo $appurl; ?>/assets/libs/DataTables-1.9.0/translation.french.txt" }
		} );
  	} );
</script>
