div.icones-haut-droite {
	position : absolute;
	top : 4px;
	right : 10px;
}


a.bouton-icone-importation-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/fleche-document-fichier-importation-se-deplacer-icone-6281-32.png);
	background-repeat : no-repeat;
}
a.bouton-icone-importation-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-eglise-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/maison-maison-icone-5867-32.png);
	background-repeat : no-repeat;
}
a.bouton-icone-eglise-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-gauche-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/gauche-icone-9103-32.png);
	background-repeat : no-repeat;
}
a.bouton-icone-gauche-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-droite-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/droite-icone-9103-32.png);
	background-repeat : no-repeat;
}
a.bouton-icone-droite-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-doublons-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/double-fleche-icone-32.png);
	background-repeat : no-repeat;
}
a.bouton-icone-doublons-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-bordereau-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/contact-liste-preferences-icone-4360-32.png);
	background-repeat : no-repeat;
}
a.bouton-icone-bordereau-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}



a.bouton-icone-maison-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/maison-icone-32.png);
	background-repeat : no-repeat;
}
a.bouton-icone-maison-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-argent-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/monnaies-metal-argent-32.png);
}
a.bouton-icone-argent-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-tableau-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/excel-et-numbers-un-tableur-tableau-icone-5686-32.png);
}
a.bouton-icone-tableau-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-salles-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/salles-32.png);
}
a.bouton-icone-salles-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-pdf-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/pdf-icone-6293-32.png);
}
a.bouton-icone-pdf-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-diffusions-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/directeur-macromedia-mx-icone-6862-32.png);
}
a.bouton-icone-diffusions-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-carte-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/plan-routes-32.png);
}
a.bouton-icone-carte-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-poubelle-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/vide-poubelle-icone-7444-32.png);
}
a.bouton-icone-poubelle-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-ecrire-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/edit-un-stylo-ecrire-icone-9494-32.png);
}
a.bouton-icone-ecrire-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-lieu-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/deconnectez-vous-mon-profil-icone-5679-32.png);
}
a.bouton-icone-lieu-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-agenda-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/calendrier-texte-icone-9367-32.png);
}
a.bouton-icone-agenda-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-contrats-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/carte-credit-visa-icone-4092-32.png);
}
a.bouton-icone-contrats-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-fournisseur-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/transmettre-icone-7431-32.png);
}
a.bouton-icone-fournisseur-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-cles-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/mot-passe-icone-7117-32.png);
}
a.bouton-icone-cles-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-salle-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/plein-ecran-fenetre-icone-7330-32.png);
}
a.bouton-icone-salle-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}



a.bouton-icone-contacts-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/carnet-adresses-contacts-icone-9443-32.png);
}
a.bouton-icone-contacts-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-activites-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/attribue-une-tache-a-icone-9511-32.png);
}
a.bouton-icone-activites-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-evenement-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/calendrier-date-icone-7029-32.png);
}
a.bouton-icone-evenement-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-note-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/knotes-icone-8077-32.png);
}
a.bouton-icone-note-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-ajouter-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/ajouter-vert-plus-icone-5215-32.png);
}
a.bouton-icone-ajouter-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-aide-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/aide-point-interrogation-systeme-icone-8289-32.png);
}
a.bouton-icone-aide-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}
a.bouton-icone-aide-nofile-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/aide-point-interrogation-systeme-icone-nofile-32.png);
}
a.bouton-icone-aide-nofile-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}


a.bouton-icone-modifier-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	-moz-border-radius:4px 4px 0 0;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	background-image: url(../../images/icones/modifier-icone-5132-32a.png);
}
a.bouton-icone-modifier-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}
a.bouton-icone-groupe-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	-moz-border-radius:4px 4px 0 0;
	background-image: url(../../images/icones/famille-forum-groupe-de-icone-8774-32a.png);
}
a.bouton-icone-groupe-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-portrait-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	-moz-border-radius:4px 4px 0 0;
	background-image: url(../../images/icones/visage-image-plume-image-icone-4658-32.png);
}

a.bouton-icone-portrait-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}
a.bouton-icone-groupes-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	-moz-border-radius:4px 4px 0 0;
	background-image: url(../../images/icones/groupes-icone-6095-32.png);
}

a.bouton-icone-groupes-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-chercher-personne-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	border:2px solid #fff;
	border-right:1px solid #fff;
	border-bottom:1px solid #fff;
	-moz-border-radius:4px 4px 0 0;
	background-image: url(../../images/icones/objectif-etre-icone-8439-32.png);
}

a.bouton-icone-chercher-personne-32:hover {
	background-color:#FCF1C4;
	border:1px solid #666;
	border-right:2px solid #666;
	border-bottom:2px solid #666;
}

a.bouton-icone-fermer-32 {
	display:block;
	float : right;
	width : 32px;
	height : 32px;
	border:0px solid #fff;
	-moz-border-radius:4px 4px 0 0;
	background-image: url(../../images/icones/fermer-icone-3746-32.png);
	background-repeat : no-repeat;
	padding : 1px;
}

a.bouton-icone-fermer-32:hover {
	/* background-color:#FCF1C4; */
	border:1px solid #666;
	padding : 0px;
}
