.box-identification {
	width : 400px;
	margin-left : 54px;
	background : #BEC3CF;
	padding : 20px;
}

.box-notes {
	padding : 6px;
	border : solid 1px #907207;
	margin : 0px;
	margin-top : 4px;
	margin-bottom : 4px;
}
#colorbox {
	z-index : 999;
	background : #fff;
}

div.popup {
}

