div#debug {
	border : solid 3px #000;
	background : #ffc;
	margin-top : 4px;
	margin-top : 10px;
	padding : 0.4em;
}
div#debug  pre {
	font-size : 9pt;
}
div.debug-texte {
	position : relative;
}
div.debug-image {
	position : absolute;
	top : 10px;
	right : 10px;
}

div#develop-panel {
	position : absolute;
	left : 972px;
	top : 0px;
	border : solid 1px #ccc;
	background : #fff;
	padding : 4px;
	width : 200px;
	font-size : 0.9em;
}

div.debug ul {
	padding:0;
	margin: 0 0 0 0px;	
	border : solid 0px #ccc;
	padding : 4px;
}
div.debug ul li {
	list-style-type:none;
}

div.debug ul li ul {
	background : #ffa;
	border : solid 1px #ccc;
}
.palette {
	border : solid 1px #000;
	line-height:20px;
	text-align:center;
	margin-right:4px;
	margin-bottom:4px;
	width:80px;
}
.hidden {
	visibility : hidden;
}

.accordion2 {
	width: 200px;
	border-bottom: solid 1px #c4c4c4;
}
.accordion2 h3 {
	background: #e9e7e7 url(images/arrow-square.gif) no-repeat right -51px;
	padding: 7px 15px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 1px #c4c4c4;
	border-bottom: none;
	cursor: pointer;
}
.accordion2 h3:hover {
	background-color: #e3e2e2;
}
.accordion2 h3.active {
	background-position: right 5px;
}
.accordion2 div {
	background: #f7f7f7;
	margin: 0;
	padding: 10px 15px 20px;
	border-left: solid 1px #c4c4c4;
	border-right: solid 1px #c4c4c4;
	display: none;
}
