form {
}
form p {
	padding : 0px;
	margin : 0px;
	line-height : 1em;
}
form fieldset {
}
form input {
	font-size : 11pt;
	height : 20px;
}
form input[type=file] {
	font-size : 11pt;
	height : 28px;
}
form select option {
	font-size : 11pt;
	height : 20px;
}

form label {
}

a.presaisie-fb-form-activate {
	background : none;
}
.presaisie-fb-form-activate span {
	margin-left : 6px;
	padding-left : 12px;
	line-height : 20px;
	background-image : url(../../images/icones/aidesaisie16.png);
	background-repeat : no-repeat;
}
.presaisie-fb-form-activate:hover span {
	background-image : url(../../images/icones/aidesaisie16s.png);
}


.fb-form-1 p {
	padding : 0px;
	margin : 0px;
	margin-bottom : 6px;
	clear : both;
}
.fb-form-1 p label {
	float : left;
	text-align : right;
	margin-right : 10px;
	width : 100px;
}
.fb-form-1 p input {
	float : left;
	margin-top : 1em;
}
.fb-form-1 p textarea {
	float : left;
	margin-top : 1em;
}
.fb-form-1 p span.info-bouton-radio {
	display : block;
	background : yellow;
	float : left;
}
.fb-form-1 input[type='text'], .fb-form-1 textarea, .serre1 input[type='text'], .serre1 textarea {
	background: url(../notjustagrid/images/notjustagrid/misc/formyellowbacknotreq.gif) repeat-x scroll right top #FAFAD8;
}
.fb-form-1 input.requiredfield, .serre1 input.obligatoire {
	background: url(../notjustagrid/images/notjustagrid/misc/formyellowback.gif) repeat-x scroll right top #FAFAD8;
}
.fb-form-1 select, .fb-form-1 select option, .serre1 select option {
	background: url(../notjustagrid/images/notjustagrid/misc/formyellowbacknotreq.gif) repeat-x scroll right top #FAFAD8;
}

div#deux-fieldsets-1 form fieldset#fieldset-1 {
	float : left;
	width : 56%;
}
div#deux-fieldsets-1 form fieldset#fieldset-2 {
	float : right;
	width : 41%;
}
div#deux-fieldsets-1 form fieldset#fieldset-3 {
	float : right;
	width : 41%;
}
div#deux-fieldsets-1 form fieldset#fieldset-3 legend {
	background : none;
	padding : 0px;
	border : solid 0px #ccc;
}
div#deux-fieldsets-1 .fb-form-1 p label {
	width : 80px;
}

form.serre1 input, form.serre1 textarea, form.serre1 select, form.serre1 select option {
	float : left;
	margin-bottom : 0.5em;
	font-size : 10pt;
}
form.serre1 select {
	background : #F3FDCE ;
}
form.serre1 select option {
	padding : 1px;
	padding : 2px;
	padding-left : 6px;
	padding-right : 6px;
	margin : 0px;
	color : black;
	background-image : none;
	background : #F3FDCE ;
	height : 16px;
}

form.serre1 span.info-bouton-radio {
	display : block;
	float : left;
	padding-top : 0px;
	padding-left : 4px;
	padding-right : 10px;
}
form.serre1 label {
	display : block;
	float : left;
	text-align : right;
	padding-right : 1em;
	margin-top : 0px;
	width : 130px;
}
form.serre1 fieldset {
	border : 1px solid #000;
	padding-top:6px;
}
form.serre1 p {
	position : relative;
	clear : both;
}
form.serre1 a.bulleaide {
	display : block;
	float : left;
	margin-left : 4px;
}

/* Personnalisations pour des formulaires particuliers */
/* Informations de base de la personne */
div#deux-fieldsets-1 form#fb-form-personne-infos-base p label {
	width : 120px;
}
div#deux-fieldsets-1 form#fb-form-personne-infos-base fieldset#fieldset-1 {
	width : 42%;
}
div#deux-fieldsets-1 form#fb-form-personne-infos-base fieldset#fieldset-2 {
	width : 56%;
}

a.bulleaide {
	display : block;
	width : 16px;
	height : 16px;
	background-image : url(../../images/icones/pointinterrogation16.png);
}

input[type=submit] {
	height : 30px;
	padding-left : 10px;
	padding-right : 10px;
}
