/* main.css */
html {
    overflow-y: scroll;
    height: 100%;
}

body {
	background : #eee;
	padding-top : 6px;
}
#container {
}
#container2 {
	margin: auto;
    position: relative;
    width: 960px;
   	padding : 0px;
}
div.conteneur {
	border : solid 0px green;
	position:relative;
	width : 960px;
}
div#header {
	background : url(../../images/bandeausansmenu.png);
	height : 120px;
}
div#nav-cont {
	z-index : 2; /* pour mettre le menu déroulant en dessus */
}
div#contenu-principal {
	z-index : 1;
	background : #fff;
	padding : 0px;
	padding-top : 10px;
	min-height : 540px;
}
div#footer {
	text-align : center;
	background : #363C49;
	color :#BEC3CF;
	line-height : 26px;
	height : 26px;
}

/* Elements du bandeau */
#bandeau-text1 {
	position : absolute;
	right : 20px;
	top : 42px;
	color :#BEC3CF;
}
/* Elements du bandeau */
#bandeau-text2{
	position : absolute;
	right : 20px;
	top : 66px;
	color :#BEC3CF;
}

/* Elements du pied de page */
#footer-admin {
	position : absolute;
	color :#BEC3CF;
	left : 20px;
	top : 0px;
}
#footer-deconnexion {
	position : absolute;
	color :#BEC3CF;
	right : 20px;
	top : 0px;
}
.footer div, .footer div a, #footer-deconnexion a, #footer-admin a {
	color :#BEC3CF;
}
.footer div a:hover, #footer-deconnexion a:hover, #footer-admin a:hover {
	color : #fff;
}

div#cols2gauche {
}
div#cols2droite {
	background : #f8f8f8;
}

div#fil-ariane {
	margin-bottom : 6px;
	font-size : 0.9em;
}
