div#nav {
	border-top : solid 1px #BEC3CF;
}
* html #nav {padding-bottom:0;}


div#nav{
	position:relative;
	width:960px;
	height:40px;
	padding-top : 0px;
	padding-bottom:0px;
	background : #363C49;
	margin-bottom:0px;
	margin-top:0px;
}

#nav ul {
margin:0;
padding:0;
padding-left : 0px;
list-style:none;
}

#nav ul li {
left : 0;
float:left;
display:block;
margin:0;
padding:0;
list-style:none;
position : relative;
}

#nav ul li a:link,
#nav ul li a:visited{
color :#BEC3CF;
font-size:14px;
font-weight:normal;
text-decoration:none;
padding: 0;
display:block;
}
#nav ul li a:hover{
color:#EBEFF7;
}
#nav ul li ul{
position:absolute;
left : 0px;
margin-left : 0px;
padding-left : 0px;
margin-top : 36px;
}
#nav ul li ul li{
float:none;
display:block;
background : #F3FDCE;
padding-top : 0px;
}
#nav ul li ul li a:link,
#nav ul li ul li a:visited{
color:#444;
font-size:0.9em;
line-height : 1.4em;
font-weight:bold;
text-decoration:none;
padding:6px;
clear:both;
display : block;
border-bottom:solid 1px #DEDEDE;
}
#nav ul li ul li a:hover{
color:#3B5998;
background:#fff;
}


.submenu {
position: absolute;
width: 160px;
background: #FFF;
padding: 10px;
border: solid 1px #2E4B88;
border-top: none;
display: none;
line-height: 26px;
z-index: 1000;
}

#nav a em.lft, #nav :visited em.lft {
display:block;
float:left;
width:5px;
height:38px;
background: transparent url(../../images/lefta.gif);
border-bottom:0px solid #777;
}
#nav a b, #nav :visited b {
display:block;
font-weight:bold;
color :#BEC3CF;
float:left;
padding:0;
padding-left : 10px;
padding-right : 10px;
padding-top : 10px;
height:28px;
line-height:1.9em;
cursor:pointer;
border-bottom:0px solid #777;
}

#nav a#nav-outils b {
	color : #666D7C;
}
#nav a em.rgt, #nav :visited em.rgt {
display:block;
float:left;
width:5px;
height:38px;
background: transparent url(../../images/righta.gif);
border-bottom:0px solid #777;
}


#nav :hover {
white-space:normal;
}

#nav a:hover b {
color:#fff;
background: transparent url(../../images/menusurv.png);
border-bottom-color:#ccc;
}
#nav a:hover em.lft {
background: transparent url(../../images/menusurv.png);
border-bottom-color:#ccc;
}
#nav a:hover em.rgt {
background: transparent url(../../images/menusurv.png);
border-bottom-color:#ccc;
}
#nav li:hover > a b
{
color:#F4C413;
background: transparent url(../../images/menusurv.png);
border-bottom-color:#ccc;
}
#nav li:hover > a em.lft {
background: transparent url(../../images/menusurv.png);
border-bottom-color:#ccc;
}
#nav li:hover > a em.rgt {
background: transparent url(../../images/menusurv.png);
border-bottom-color:#ccc;
}

#nav a.menu-outils b {
	color : #666D7C;
}
#nav li.selected {
	background: transparent url(../../images/menusurv.png);
}
#nav li.selected a b {
	color : #fff;
}
#nav ul li.menu-adroite {
	float : right;
}
