<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide sur la documentation GestPar"); ?>
     </div>
</div>
<div class="contenu full">
	<h1><?php if(isset($titre)) echo $titre; ?></h1>
</div>
<div class="contenu third">
	<h2>Dossiers</h2>
	<?php foreach($dossiers as $dossier) { ?>
		<h4><a href="<?php echo $appurl."/doc_pdf?dossier=".$dossier['encode']; ?>"><?php echo $dossier['titre']; ?></a></h4>
		<?php if(isset($dossier['description'])) echo $dossier['description']; ?>
	<?php } ?>
</div>
<div class="contenu twothird">
	<?php foreach($html as $htm) { ?>
		<div style="margin-bottom:10px"><?php echo $htm; ?></div>
	<?php } ?>
	<h2>Documents</h2>
	<?php foreach($fichiers as $fichier) { ?>
		<div style="margin-bottom:10px;">
		<h3 style="margin-bottom:0px"><?php echo $fichier['titre']; ?></h3>
		<?php if(isset($fichier['description'])) echo "<div>".$fichier['description']."</div>"; ?>
		<a target="_blank" href="<?php echo $fichier['fichier']; ?>" style="display:block;text-align:right;font-weight:bold">T&eacute;l&eacute;charger</a>
		</div>
	<?php } ?>
</div>
