
<div id="cont-form-doc-edit">
<form id="form-doc-edit" action="<?php echo $appurl; ?>/ajax_aide/action_edit" method="post">
<input type="hidden" name="pagedoc" value="<?php if(isset($pagedoc)) echo $pagedoc; ?>" />
<p> 
<label>Titre</label>
<input type="text" name="titre" style="width:400px" value="<?php if(isset($titre)) echo $titre; ?>" />
</p>

<p> 
<label>Sous-titre</label>
<input type="text" name="soustitre" style="width:400px" value="<?php if(isset($soustitre)) echo $soustitre; ?>" />
</p>

<p> 
<textarea id="form-doc-edit-text" name="texte"><?php if(isset($texte)) echo $texte; ?></textarea>
</p>
<p>
<input id="form-doc-edit-enregistrer" type="submit" value="Enregistrer" /> 
</p>
</form>
</div>


<link rel="stylesheet" type="text/css" href="<?php echo $appurl; ?>/assets/libs/CLEditor1_3_0/jquery.cleditor.css" />
<script type="text/javascript" src="<?php echo $appurl; ?>/assets/libs/CLEditor1_3_0/jquery.cleditor.min.js"></script>
<script type="text/javascript" src="<?php echo $appurl; ?>/assets/js/jquery.form.js"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
	// Formulaire Ajax
	$('#form-doc-edit').ajaxForm({
		target: '#cont-form-doc-edit',
		success: function (){
		}
	});
	
	// Editeur WYSIWYG
	$(document).ready(function() {
		$("#form-doc-edit-text").cleditor({width:"100%", height:"340px"});
	});	
});
</script>
