<?php if (verif_droits_acces('webmaster')) { ?>
	<?php if(isset($editer)) {
		echo '<a class="aide-bouton-edit thickbox" href="'.$editer.'" title="Modifier le texte"><br /></a>'; 
	} ?>
<?php } ?>
<?php if(isset($titre)) echo "<h1>$titre</h1>"; ?>
<?php if(isset($soustitre)) echo "<h2>$soustitre</h2>"; ?>
<?php if(isset($texte)) echo "<div>$texte</div>"; ?>
