<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Gérard Krawczyk | Bande-Annonce</title>
	
</head>
<body style="background-color: black;color: white;text-align:center;">

<div id="content">
<?php echo $contentForLayout; ?>
</div>

</body>
</html>
