<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
     <div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
     </div>
</div>
<div id="" class="cols1 contenu full">
	<h1>Ajout d'un nouvel ensemble</h1>
	<?php echo "$form"; ?>
	<p class="clear">&nbsp;</p>
</div>
