<div class="full">
	<?php if (isset($ariane)) echo $ariane; ?>
     <div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
     </div>
</div>
<div id="" class="contenu full">
	<h1>Edition d'un message</h1>
	<?php echo "$form"; ?>

</div>

