<div class="full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
	</div>
</div>
<div class="full">
	<h1><?php echo _M("titre"); ?></h1>
	<?php echo _M("message"); ?>
	<?php echo _F("$view.inc.html"); ?>
</div>
