<div class="full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
		<a class="avec-tooltip bouton-icone-ajouter-32" 
			href="<?php echo "$appurl"; ?>/superadmin/ajouter_compte" 
			title="Ajouter un nouveau compte">
		</a>
	</div>
</div>

<div class="contenu full">
	<h1><?php echo _M("titre"); ?></h1>
	<?php echo _M("message"); ?>
	<?php echo _F("$view.inc.html"); ?>
	<table id="table_data" class="display">
	<thead>
		<tr>
			<th>Compte</th>
			<th>Cr&eacute;&eacute;</th>
			<th>Modifi&eacute;</th>
			<th>Acc&egrave;s</th>
			<th>Par</th>
			<th><br /></th>
		</tr>
	</thead>
	<?php
		// print_r($table);
		for($i=0; isset($table[$i]); $i++)
		{
			$row = $table[$i];
			echo "<tr>";
			echo "<td>".$row['compte']."</td>";
			echo "<td>".$row['date_creation']."</td>";
			echo "<td>".$row['date_modif']."</td>";
			echo "<td>".$row['date_dern_acces']."</td>";
			echo "<td>".$row['user']."</td>";
			// echo "<td><a href=\"$appurl/gestion_ensembles/infos_ensemble?id_ensemble=".$row['id_ensemble']."\">&eacute;diter</a></td>";
			echo "<td><a href=\"$appurl/superadmin/administrer_compte?id_compte=".$row['id_compte']."\">administrer</a></td>";
			echo "</tr>";
		}
	?>
	</table>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#table_data').dataTable( {
			"aLengthMenu": [[10, 15, 20, 50, 100, -1], [10, 15, 20, 50, 100, "Tous"]],
			"iDisplayLength": <?php echo $_SESSION[IDAPPLI]['user']['params']['nb_lignes']; ?>,
			"bPaginate": true,
			"bProcessing": true,
			"bLengthChange": true,
			"bFilter": true,
			"bSort": true,
			"aaSorting": [ [1,'asc'], [2,'asc'] ],
			"bInfo": true,
			"bAutoWidth": false,
			"aoColumns": [
				null,
				null,
				null,
				null,
				null,
				{ "bSortable": false }
        ],
		"oLanguage": { "sUrl": "<?php echo $appurl; ?>/assets/libs/DataTables-1.9.0/translation.french.txt" }
		} );
  	} );
</script>
</div>
