<div class="full">
	<?php if (isset($ariane)) echo $ariane; ?>
     <div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
		<?php if (verif_droits_acces('admin')) { ?>
			<a class="bouton-icone-ajouter-32 avec-tooltip"
				href="<?php echo "$appurl"; ?>/superadmin/ajouter_message"
				title="Ajouter un nouveau message"></a>
		<?php } ?>
     </div>
</div>
<div id="" class="full contenu">
	<h1>Gestion des messages</h1>
	<table id="table_data" class="display">
	<thead>
		<tr>
			<th>Titre</th>
			<th>Destinataires</th>
			<th>Publication</th>
			<th>Archivage</th>
			<th><br /></th>
			<th><br /></th>
		</tr>
	</thead>
	<?php
		for($i=0; isset($table[$i]); $i++)
		{
			$row = $table[$i];
			$id_message = $row['id_message'];
			$dp = '';
			$da = '';
			if ($row['date_publication'] != '00/00/0000') $dp = $row['date_publication'];
			if ($row['date_archivage'] != '00/00/0000') $da = $row['date_archivage'];
			echo "<tr>";
			echo "<td>".$row['titre']."</td>";
			echo "<td>".$row['destinataires']."</td>";
			echo "<td>$dp</td>";
			echo "<td>$da</td>";
			echo "<td><a href=\"$appurl/superadmin/editer_message?id_message=$id_message\">&eacute;diter</a></td>";
			echo "<td><a href=\"$appurl/superadmin/action_supprimer_message?id_message=$id_message\">supprimer</a></td>";
			echo "</tr>";
		}
	?>
	</table>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#table_data').dataTable( {
			"bPaginate": true,
			"iDisplayLength": 12,
			"bProcessing": true,
			"bLengthChange": false,
			"bFilter": true,
			"bSort": true,
			"bInfo": true,
			"bAutoWidth": false,
			"aoColumns": [
				null,
				null,
				null,
				null,
				{ "bSortable": false },
				{ "bSortable": false }
        ],
		"oLanguage": { "sUrl": "<?php echo $appurl; ?>/assets/libs/DataTables-1.9.0/translation.french.txt" }
		} );
  	} );
</script>
</div>
