<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
     <div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
		<?php if (verif_droits_acces('webmaster')) { ?>
			<a class="thickbox avec-tooltip bouton-icone-ajouter-32" 
				href="<?php echo "$appurl"; ?>/ajax_superadmin/selection_superadmin" 
				title="Ajouter un administrateur">
			</a>
		<?php } ?>
     </div>
</div>
<div class="cols1 contenu full">
	<h1>Super-administrateurs</h1>
	<table id="table_data" class="display">
	<thead>
		<tr>
			<th>Nom</th>
			<th>Pr&eacute;nom</th>
			<th>Login</th>
			<th>Compte</th>
			<th><br /></th>
		</tr>
	</thead>
	<?php
		// print_r($table);
		for($i=0; isset($users[$i]); $i++)
		{
			$row = $users[$i];
			echo "<tr>";
			echo "<td>".$row['nom']."</td>";
			echo "<td>".$row['prenom']."</td>";
			echo "<td>".$row['login']."</td>";
			echo "<td>".$row['compte']."</td>";
			// echo "<td><a href=\"$appurl/outils/edit_utilisateur?id_user=".$row['id_user']."\">&eacute;diter</a></td>";
			echo "<td><a href=\"$appurl/superadmin/supprimer_superadministrateur?id_user=".$row['id_user']."\">supprimer le droit</a></td>";
			echo "</tr>";
		}
	?>
	</table>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#table_data').dataTable( {
			"aLengthMenu": [[10, 15, 20, 50, 100, -1], [10, 15, 20, 50, 100, "Tous"]],
			"iDisplayLength": <?php echo $_SESSION[IDAPPLI]['user']['params']['nb_lignes']; ?>,
			"bPaginate": true,
			"bProcessing": true,
			"bLengthChange": true,
			"bFilter": true,
			"bSort": true,
			"aaSorting": [ [1,'asc'], [2,'asc'] ],
			"bInfo": true,
			"bAutoWidth": false,
			"aoColumns": [
				null,
				null,
				null,
				null,
				{ "bSortable": false }
        ],
		"oLanguage": { "sUrl": "<?php echo $appurl; ?>/assets/libs/DataTables-1.9.0/translation.french.txt" }
		} );
  	} );
</script>
