<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="normal">Page de résultats :</td>
	<td class="normal"><#FIRST_PAGE>&nbsp;&nbsp;&nbsp;<#PREVIOUS_PAGE>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <#LOOP><td class="normal" align="center"><#PAGE></td></#LOOP>
	<td class="normal">&nbsp;&nbsp;&nbsp;&nbsp;<#NEXT_PAGE>&nbsp;&nbsp;&nbsp;<#LAST_PAGE></td>
  </tr>
  <tr>
    <td colspan="<#COLSPAN>" class="normal">Nb. résultats : <#NBRECORD></td>
  </tr>
</table>