<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<a class="thickbox bouton-icone-aide-32 avec-tooltip" 
			href="<?php echo "$appurl"; ?>/ajax_aide/?page=fw3-config_generale" 
			title="Aide sur les paramètres généraux">
		</a>
	</div>
</div>
<div id="" class="full contenu">
	<h1>Configuration g&eacute;n&eacute;rale de l'application</h1>
</div>
<div class="third contenu">
	<h2>Sections</h2>
		<table id="" class="display">
		<?php
			if (isset($groupes))
			{
				foreach($groupes as $k => $g)
				{
					$id = $k;
					$name = $g;
					$class = "";
					if ($id == $id_section) $class = "evidence";
					echo "<tr class=\"$class\" >";
					echo "<td style=\"border-bottom:solid 1px #ccc\">$name</td>";
					echo "<td style=\"border-bottom:solid 1px #ccc;text-align:right;padding-right:6px\">";
					echo "<a href=\"$appurl/fw3/config_generale?id=$id\">s&eacute;lectrionner</a>";
					echo "</td>";
					echo "</tr>\n";
				}
			}
		?>
		</table>
</div>

<div id="" class="twothird contenu">
	<div style="position:relative;">
	<h2>
		<?php if(isset($id_section) && $id_section > 0) 
		{
			echo "section : $nom_section"; 
		}
		else
		{
			echo "S&eacute;lectionnez une section pour afficher/modifier les param&egrave;tres";
		}
		?>
	</h2>
	<?php if (isset($nom_section) && $nom_section != '') { ?>
	<a class="thickbox bouton-icone-aide-32 avec-tooltip" 
		style="position:absolute;right:0px;top:-10px;z-index:100;"
		href="<?php echo "$appurl"; ?>/ajax_aide/?page=fw3-config_generale_<?php echo "$id_section"; ?>" 
		title="Aide sur la section <?php echo "$nom_section"; ?>">
	</a>
	<?php } ?>
	</div>
	<?php if (isset($id_section) && $id_section > 0) { ?>
		<div>
			
			<form class="serre1" action="<?php echo "$appurl/fw3/action_config_generale"; ?>" method="post">
				<input type="hidden" name="id_section" value="<?php echo $id_section; ?>" />
				<input type="hidden" id="param-id" name="id_parametre" value="" />
				<input type="hidden" name="cmd" value="setparam" />
				<table>
				<tr>
					<td>
						&nbsp;
					</td>
					<td colspan="2">
						<h3>Ajouter/modifier un param&egrave;tre</h3>
					</td>
				</tr>
				<tr>
					<td><label style="width:200px;" for="nom">Nom du param&egrave;tre</label></td>
					<td><input type="text" id="param-nom" class="obligatoire" name="nom" size="32" /></td> 
					<td><input type="submit" name="Enregistrer" value="Enregistrer" /></td>
				</tr>
				</table>
			</form>
		</div>


		<table id="table_data" class="display">
		<thead>
			<tr>
				<th>Valeur</th>
				<th><br /></th>
				<th><br /></th>
			</tr>
		</thead>		
		<?php
			for($i=0; isset($parametres[$i]); $i++)
			{
				$row = $parametres[$i];
				echo "<tr>";
				echo "<td>".$row['nom']."</td>";
				if ($row['protege'] != 1)
				{
					echo '<td><a class="setmodifier" rel="'.$row['id_parametre'].'" value="'.$row['nom'].'" href="#">modifier</a></td>';
					echo '<td><a href="'.$appurl.'/fw3/action_supprimer_config_generale?id_section='.$id_section.'&id_parametre='.$row['id_parametre'].'">supprimer</a></td>';
				}
				else
				{
					echo '<td style="text-align:center;color:#999">Valeur prot&eacute;g&eacute;e</td>';
					echo '<td></td>';
				}
				echo "</tr>\n";
			}
		?>
		</table>
	<?php } ?>
</div>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('.setmodifier').click(function() {
			id_parametre = $(this).attr('rel');
			value = $(this).attr('value');
			$('#param-nom').attr('value', value);
			$('#param-id').attr('value', id_parametre);
			// alert('ciao id='+id_parametre+' val='+value);
		} );

		$('#table_data').dataTable( {
			"aLengthMenu": [[10, 15, 20, 50, 100, -1], [10, 15, 20, 50, 100, "Tous"]],
			"iDisplayLength": 12,
			"bPaginate": true,
			"bProcessing": true,
			"bLengthChange": false,
			"bFilter": false,
			"bSort": true,
			"aaSorting": [ [1,'desc'] ],
			"bInfo": true,
			"bAutoWidth": false,
			"aoColumns": [
				null,
				{ "bSortable": false },
				{ "bSortable": false }
        ],
		"oLanguage": { "sUrl": "<?php echo $appurl; ?>/assets/libs/DataTables-1.9.0/translation.french.txt" }
		} );
  	} );
</script>
