<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
     <div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide sur le cryptage d'un mot de passe"); ?>
     </div>
</div>
<div id="cols2gauche" class="threefifth">
	<h1 class="text_center">Tests de cryptage d'un password</h1>
	
	<?php if (isset($login) && isset($passwd) && isset($crypt)) { ?>
	<div>
		<pre>
		login                 : <?php echo $login; ?><br />
		mot de passe          : <?php echo $passwd; ?><br />
		login md5             : <?php echo $login_md5; ?><br />
		mot de passe md5      : <?php echo $passw_md5; ?><br />
		mot de passe sha      : <?php echo $passw_sha; ?><br />
		mot de passe crypt&eacute;   : <?php echo $crypt; ?> crypt(login, passwd)<br />
		mot de passe crypt&eacute;   : <?php echo $crypt2; ?> crypt(passwd, login)<br />
		mot de passe crypt&eacute;   : <?php echo $crypt3; ?> crypt(passwd, base64_encode(passwd))
		</pre>
	</div>
	<?php } ?>
	<div class="box-creation-page round_5">
		<?php echo $form; ?>
	</div>
</div>
<div id="cols2droite" class="twofifth top_margin_20 droite">
	<br />
</div>
