<?php if (isset($ariane)) echo $ariane; ?>
<div id="cols2gauche" class="twothird text_center">
	<div class="absolute-right">
		<a href="<?php echo "$appurl/fw3/doc_edit?doc=$page"; ?>">edit</a>
	</div>
	<h2>Documentation</h2>
	<?php echo "<h2>$texte</h2>"; ?>
	
</div>
<div id="cols2droite" class="third droite">
	<?php if (isset($files) && count($files) > 0) { ?>
	<ul>
	<?php foreach($files as $nom => $file) { ?>
		<li><a href="<?php echo "$appurl/fw3/doc_display/?doc=$nom"; ?>"><?php echo $nom; ?></a></li>
	<?php } ?>
	</ul>
	<?php } ?>
</div>
