<div id="" class="cols2gauche contenu twothird text_center">
	<h1>Documentation</h1>
	<?php if (isset($titre)) echo "<h2>page : $titre</h2>"; ?>
	<?php if (isset($texte)) echo "$texte"; ?>
	<?php
 echo "$form"; ?>

</div>
<div id="" class="cols2droite contenu third droite">
	<h2>Une deuxi&egrave;me colonne ...</h2>
</div>
