<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<a class="bouton-icone-aide-32 thickbox avec-tooltip" 
			title="Aide" 
			href="<?php echo "$appurl/ajax_aide/?page=fw3-import_ensembles_users"; ?>">
		</a>
	</div>
</div>
<div id="" class="contenu full">
	<h1>Importation des ensembles et des utilisateurs</h1>
	<p>
		Attention, cette fonction sert pour l'initialisation d'une nouvelle base, pour cr&eacute;er automatiquement des ensembles et des utilisateurs.<br />
		Les ensembles et les utilisateurs sont ajout&eacute;s aux existants. Desdoublons peuvent provoquer des erreurs.<br />
		<br />
	</p>
	<form action="<?php echo "$appurl"; ?>/fw3/action_import_ensembles_users" class="serre1" method="post" enctype="multipart/form-data">
		<p><input type="file" name="file" size="64" /></p>
		<br />
		<p><input type="checkbox" name="supprimer" value="oui" /> Supprimer les ensembles et les utilisateurs existants</p>
		<br />
		<p><input type="submit" value="Importer" /></p>
	</form>
</div>
