<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide sur les outils du framework FBWork4"); ?>
	</div>
</div>
<div id="" class="cols1 contenu full">
	<h1>FW3 : configuration et fonctions techniques</h1>
</div>
<div id="" class="cols1 contenu half">
	<br />
	<?php if (isset($messages)) { ?>
		<?php foreach($messages as $message) { ?>
			<p style="margin-bottom:10px;color:#800;"><?php echo $message; ?></p>
		<?php } ?>
	<?php } ?>
	<ul>
		<li>
			<a href="<?php echo Atomik::get('atomik/appurl'); ?>/fw3/?cmd=setdevon" title="Activer l'affichage du panneau d'outils au d&eacute;veloppement">Panneau de dev</a>
			<br />
			<br />
		</li>
		<li>
			<a href="<?php echo Atomik::get('atomik/appurl'); ?>/fw3/nouvelle_page" title="Cr&eacute;ation des dossiers et des fichiers de base pour une nouvelle page view/controler">Ajouter une page</a>
		</li>
		<li>
			<a href="<?php echo Atomik::get('atomik/appurl'); ?>/fw3/crypt_passwd" title="Calcul d'un mot de passe crypt&eacute;">Crypter un mot de passe</a>
			<br />
			<br />
		</li>
		<li>
			<a href="<?php echo Atomik::get('atomik/appurl'); ?>/tracker" title="Gestionnaire de corrections et améliorations">Tracker</a>
			<br />
			<br />
		</li>
	</ul>
</div>

<div id="" class="cols1 contenu half">
	<?php if (isset($params) && count($params) > 0) { ?>
		<h2>Configuration technique de l'applications</h2>
		<form class="serre1" action="fw3/action_parametres" method="post">
			<fieldset style="border:0px solid #000;">
			<?php foreach($params as $param) { ?>
				<p style="margin-top : 20px;">
					<label for="<?php echo $param['id_param']; ?>"><?php echo $param['nom']; ?></label>
					<input type="text" size="36" name="<?php echo $param['id_param']; ?>" value="<?php echo $param['valeur']; ?>"
						<?php if (isset($param['readonly']) && $param['readonly'] == 1) { ?>
						readonly="readonly" class="readonly" style="background-image:none;background:#ddd;"
						<?php } ?>
					/>
				</p>
				<?php if (isset($param['notes']) && $param['notes'] != '') { ?>
					<p style="display:block"><?php echo $param['notes']; ?></p>
				<?php } ?>
			<?php } ?>
			<p>
				<label for="submit">&nbsp;</label>
				<input name="submit" type="submit" value="Enregistrer" />
			</p>
			</fieldset>
		</form>
	<?php } ?>
</div>

