<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
	</div>
</div>
<h1>Fonctionnalit&eacute; non autoris&eacute;e</h1>
<p>Adressez-vous &agrave; l'administrateur pour demander les droits dont vous avez besoin</p>
