<?php if (isset($ariane)) echo $ariane; ?>
<div id="" class="cols2gauche contenu twothird text_center">
	<h1>XXX</h1>
	<h2>Page : @@CONTROLEUR_NAME@@/@@FUNCTION_NAME@@</h2>
	<?php echo "$texte"; ?>
	@@EXTRAS@@
</div>
<div id="" class="cols2droite contenu third droite">
	<h2>Une deuxi&egrave;me colonne ...</h2>
</div>
