<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
	</div>
</div>
<div class="cols1 contenu full">
	<h1>Ajout d'une page</h1>
	<p>Cr&eacute;ation des dossiers et des fichiers de base pour une nouvelle page view/controler.<br />
	R&egrave;gles : nom tout en minuscules, sans espaces ni tirets.<br />
	Le controleur peut exister d&eacute;j&agrave;.<br />
	</p>
	<div class="box-creation-page round_5">
		<?php echo $form; ?>
	</div>
</div>

