<?php if (isset($ariane)) echo $ariane; ?>
<div id="" class="cols1 contenu full">
	<h1>XXX</h1>
	<h2>Page : @@CONTROLEUR_NAME@@/@@FUNCTION_NAME@@</h2>
	<?php echo "$texte"; ?>
	@@EXTRAS@@
</div>

