<?php if (isset($ariane)) echo $ariane; ?>
<div id="" class="cols3gauche contenu third">
	<h1>XXX</h1>
	<h2>Page : @@CONTROLEUR_NAME@@/@@FUNCTION_NAME@@</h2>
	<?php echo "$texte"; ?>
	@@EXTRAS@@
</div>
<div id="" class="cols3milieu contenu third  text_center">
	<h2>Une deuxi&egrave;me colonne ...</h2>
</div>
<div id="" class="cols3droite contenu third  text_right">
	<h2>Une troisi&egrave;me colonne ...</h2>
</div>
