<div id="" class="popup contenu">
    <?php // include($apppath."/app/views/@@CONTROLEUR_NAME@@/@@FUNCTION_NAME@@.inc.php"); ?>
	<?php if(isset($titre)) echo "<h1>$titre</h1>"; ?>
	<?php if(isset($soustitre)) echo "<h2>$soustitre</h2>"; ?>
	<?php if(isset($texte)) echo "<div>$texte</div>"; ?>
</div>

