<?php if (isset($ariane)) echo $ariane; ?>
<div id="" class="cols1 contenu full">
	<h1>Sessions</h1>
	<h2>Liste des utilisateurs connect&eacute;s</h2>
	<ul>
	<?php if (isset($sessions)) { ?>
		<?php foreach($sessions as $session) { ?>
			<li><?php echo $session['user']['nom']; ?> <?php echo $session['user']['nom_ensemble']; ?></li>
		<?php } ?>
	<?php } ?>
	</ul>
</div>
<?php if (isset($message)) { ?>
	<?php echo $message ?>
<?php } ?>

