	<table id="table_data" class="display">
	<thead>
		<tr>
			<th>Num</th>
			<th>Champ 1</th>
			<th>Champ 2</th>
			<th>Cr&eacute;tion</th>
			<th>Modification</th>
			<th><br /></th>
		</tr>
	</thead>
	<?php
		for($i=0; isset($table[$i]); $i++)
		{
			$row = $table[$i];
			echo "<tr>";
			echo "<td>".$row['id_user']."</td>";
			echo "<td>".$row['prenom']."</td>";
			echo "<td>".$row['nom']."</td>";
			echo "<td>".$row['date_creation']."</td>";
			echo "<td>".$row['date_modif']."</td>";
			echo "<td>lien</td>";
			echo "</tr>";
		}
	?>
	</table>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#table_data').dataTable( {
			"bPaginate": true,
			"iDisplayLength": 12,
			"bProcessing": true,
			"bLengthChange": false,
			"bFilter": false,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
			"aoColumns": [
				null,
				null,
				null,
				null,
				null,
				{ "bSortable": false }
        ] 
		} );
  	} );
</script>
