<div class="full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view"); ?>
	</div>
</div>
<div class="contenu full">
	<h1><?php echo _M("titre"); ?></h1>
	<?php echo _M("message"); ?>
	<?php echo _F("$view.inc.html"); ?>
</div>

<div class="contenu third">
	<?php if (isset($compte)) { ?>
		<?php if (isset($compte)) { ?>
			<?php if ($compte['nom'] != '') echo '<h2>'.$compte['nom'].'</h2>'; ?>
			<?php if ($compte['notes'] != '') echo '<p class="box-notes">'.$compte['notes'].'</p>'; ?>
		<?php } ?>
	<?php } ?>
	<br />
</div>
<div class="contenu third">
	<?php if (isset($messages)) { ?>
		<h2 class="text_center">Messages</h2>
		<ul>
		<?php foreach($messages as $message) { ?>
			<li>
			<h4 style="line-height:1.2em"><?php echo $message['titre'] ?></h4>
			<p><?php echo $message['description'] ?></p>
			<a class="thickbox" href="<?php echo "$appurl/ajax_administration/get_message?id_message=$message[id_message]"; ?>">d&eacute;tails...</a>
			</li>
		<?php } ?>
		</ul>
	<?php } ?>
	<br />
</div>
<div class="contenu third">
	<?php if (isset($compte)) { ?>
		<h2 class="text_center">Aujourd'hui</h2>
		<p class="text_center">
		<?php echo $aujourdhui; ?><br />
		<?php if (isset($_SESSION[IDAPPLI]['user']['date_connexion'])) echo  "Votre derni&egrave;re connexion : <br />".date_heure_sans_secondes($_SESSION[IDAPPLI]['user']['date_connexion'])."<br />"; ?>
		</p>
	<?php } ?>
</div>



