<table border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="normal">Page de résultats :</td>
	<td class="normal"><#FIRST_PAGE_TMP>&nbsp;&nbsp;&nbsp;<#PREVIOUS_PAGE_TMP>&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <#LOOP><td class="normal" align="center"><#PAGE_TMP></td></#LOOP>
	<td class="normal">&nbsp;&nbsp;&nbsp;&nbsp;<#NEXT_PAGE_TMP>&nbsp;&nbsp;&nbsp;<#LAST_PAGE_TMP></td>
  </tr>
  <tr>
    <td colspan="<#COLSPAN>" class="normal">Nb. résultats : <#NBRECORD_TMP></td>
  </tr>
</table>