/* ::::: http://jquery.com/demo/thickbox/css/global.css ::::: */

* { padding: 0pt; margin: 0pt; }
html, body { min-height: 100%; height: auto ! important; background: none repeat scroll 0% 0% rgb(255, 255, 255); text-align: center; }
body { font: 62.5%/1.4 Arial,Helvetica,sans-serif; }
a:link, .subNav a:link { color: rgb(74, 142, 188); text-decoration: underline; }
a:visited, .subNav a:visited { color: rgb(74, 142, 188); text-decoration: underline; }
a:hover, .subNav a:hover { color: rgb(49, 96, 128); text-decoration: underline; }
a:active, .subNav a:active { color: rgb(74, 142, 188); text-decoration: underline; }
a:focus, .subNav a:focus { color: rgb(74, 142, 188); outline: medium none; text-decoration: underline; }
#tag a:link, #overview a:link, #examples a:link { color: rgb(255, 252, 209); }
#tag a:visited, #overview a:visited, #examples a:visited { color: rgb(255, 252, 209); }
#tag a:hover, #overview a:hover, #examples a:hover { color: rgb(244, 194, 10); }
#tag a:active, #overview a:active, #examples a:active { color: rgb(255, 252, 209); }
#tag a:focus, #overview a:focus, #examples a:focus { color: rgb(255, 252, 209); outline: medium none; }
h1 { font-size: 4em; letter-spacing: -3px; margin-top: 30px; }
h1 span { color: rgb(244, 194, 10); }
h2 { font-size: 2em; }
h2 a:link, h2 a:visited, h2 a:hover, h2 a:active { text-decoration: none; color: rgb(51, 51, 51); }
h2 { text-align: left; padding-bottom: 1px; margin-top: 30px; clear: both; }
h5 { text-align: left; font-size: 1.1em; padding: 5px 15px 0pt; }
.header { float: left; width: 200px; display: block; }
.lineDivide { border-bottom: 1px dotted rgb(51, 51, 51); height: 1px; margin-bottom: 20px; clear: both; line-height: 1px; }
.lineDivideSolid { border-bottom: 2px solid rgb(204, 204, 204); height: 1px; margin-bottom: 20px; clear: both; line-height: 1px; }
#pageContent { margin: 0pt auto; width: 500px; height: 100%; }
#tag { background-color: rgb(70, 69, 72); font-size: 1.1em; color: rgb(244, 244, 244); padding: 3px 0pt 5px; }
#description { background-color: rgb(244, 244, 244); margin: 1px 0px; font-size: 2.2em; font-weight: normal; padding: 15px; color: rgb(110, 110, 110); }
.roundbox { background: none repeat scroll 0% 0% rgb(110, 110, 110); width: 100%; margin-bottom: 20px; color: rgb(255, 255, 255); text-align: left; clear: both; }
.roundbox h3 { font-size: 1.55em; padding: 15px 15px 10px; border-bottom: 1px dotted rgb(232, 232, 232); margin-bottom: 10px; clear: both; }
.roundbox p { font-size: 1.5em; padding: 0px 15px 15px 16px; }
.roundbox ul, .anchor ul { font-size: 1.5em; padding: 0px 15px 15px 16px; }
.roundbox ul li, .anchor ul li { list-style: circle inside none; padding: 2px 0pt; }
p.changeDate { padding: 0px 15px 0px 16px; font-size: 1.1em; font-weight: bold; }
#donate p, #qa p, #support p { font-size: 1.5em; padding: 0px 15px 15px 16px; text-align: left; }
.anchors { list-style: none outside none; margin: 0pt 0pt 0pt 10px; }
.anchors li { float: left; margin: 0pt 2px 0pt 0pt; }
.anchors a { display: block; padding: 1px 9px 2px; text-decoration: none; background: none repeat scroll 0% 0% rgb(206, 20, 0); border-top: 2px solid rgb(255, 255, 255); font-size: 1.55em; }
div.greyTabs .anchors a { background: none repeat scroll 0% 0% rgb(134, 134, 134); }
.anchors .on a { font-weight: bold; border-bottom: 2px solid rgb(151, 15, 0); border-top: 2px solid rgb(151, 15, 0); }
div.greyTabs .anchors .on a { border-bottom: 2px solid rgb(110, 110, 110); border-top: 2px solid rgb(110, 110, 110); }
.anchors .on a, .anchors .on a:hover, .anchor, .anchors a:focus, .anchors a:active { background: none repeat scroll 0% 0% rgb(151, 15, 0); border-top: 2px solid rgb(151, 15, 0); outline: medium none; overflow: hidden; }
div.greyTabs .anchors .on a, div.greyTabs .anchors .on a:hover, div.greyTabs .anchor, div.greyTabs .anchors a:focus, div.greyTabs .anchors a:active { background: none repeat scroll 0% 0% rgb(110, 110, 110); border-top: 2px solid rgb(110, 110, 110); }
.anchors a:hover { background: none repeat scroll 0% 0% rgb(255, 62, 40); border-top: 2px solid rgb(255, 62, 40); }
div.greyTabs .anchors a:hover { background: none repeat scroll 0% 0% rgb(78, 78, 78); border-top: 2px solid rgb(78, 78, 78); }
.anchors .on a:link, .anchors .on a:visited { cursor: text; }
.anchors a:hover, .anchors a:focus, .anchors a:active { cursor: pointer; }
.anchor { clear: both; display: none; margin-bottom: 20px; width: 100%; color: rgb(255, 255, 255); text-align: left; }
.anchor p { text-align: left; padding: 5px 15px 15px; font-size: 1.5em; color: rgb(255, 255, 255); }
#navigation { clear: both; list-style: none outside none; text-align: center; border-top: 2px solid rgb(204, 204, 204); }
#navigation li { display: inline; list-style-type: none; padding: 7px 20px 7px 15px; line-height: 30px; font-size: 1.6em; }
#navigation li.divide { border-right: 2px solid rgb(204, 204, 204); }
#navigation li a { margin-top: 5px; }
#qa dl dd { text-align: left; margin-bottom: 5px; margin-top: 10px; font-size: 1.5em; }
#qa dl { margin: 0pt 15px; border-bottom: 1px dotted rgb(204, 204, 204); padding-bottom: 10px; }
pre.tabscode { border: 1px solid rgb(204, 204, 204); margin: 15px; padding: 1em; background-color: rgb(255, 255, 255); overflow: auto; height: 300px; text-align: left; }
code { color: rgb(51, 51, 51); font-size: 1.4em; line-height: 1.4; }
pre.normal { margin: 0px 15px 15px; padding: 1em; overflow: auto; background-color: rgb(204, 204, 204); }
pre.exampleCode { margin: 5px 15px 10px; padding: 0.5em; overflow: auto; background-color: rgb(206, 20, 0); }
pre.exampleCode code { color: rgb(255, 255, 255); font-size: 1em; }
.javascript .comment { color: green; }
.javascript .string { color: red; }
.javascript .keywords { color: navy; font-weight: bold; }
.javascript .global { color: rgb(0, 153, 0); }
.javascript .brackets { color: navy; font-weight: bold; }
.css .comment { color: gray; }
.css .properties { color: navy; }
.css .selectors { color: maroon; }
.css .units { color: red; }
.css .urls { color: green; }
.html .tag { color: purple; font-weight: bold; }
.html .string { color: navy; }
.toggleBtn { display: block; height: 11px; width: 11px; margin-top: 13px; line-height: 13px; float: right; background-color: rgb(255, 255, 255); font-weight: normal; color: rgb(244, 194, 10); text-align: right; }
h2 a.toggleBtn:link, h2 a.toggleBtn:visited, h2 a.toggleBtn:active { color: rgb(244, 194, 10); }
h2 a.toggleBtn:hover { color: rgb(206, 20, 0); }
#overview a.BTT:link, #overview a.BTT:visited, #overview a.BTT:active, #examples a.BTT:link, #examples a.BTT:visited, #examples a.BTT:active { color: rgb(74, 142, 188); }
#overview a.BTT:hover, #examples a.BTT:hover { color: rgb(49, 96, 128); }
#credits { margin: 50px 0pt 500px; font-size: 1.1em; }
#credits p { padding: 0pt 15px 15px; }
.hfivepadding { margin-top: 5px; }
.answer { color: rgb(206, 20, 0); }
#examples img { border: 2px solid rgb(255, 255, 255); }
.callout { color: rgb(255, 255, 255); border-bottom: 2px dotted rgb(244, 194, 10); }
/* ::::: http://jquery.com/demo/thickbox/thickbox-code/thickbox.css ::::: */

* { padding: 0pt; margin: 0pt; }
/* ::::: http://jquery.com/demo/thickbox/css/1024.css ::::: */

#pageContent { margin: 0pt auto; width: 800px; height: 100%; }
