div#specific-1 {
	position : absolute;
	right : 10px;
	top : 6px;
}

form.serre1 fieldset {
	border : 0px solid #000;
	padding-top:0px;
}
fieldset#fieldset-1 {
	background : none;
}

fieldset#fieldset-2 {
	background : none;
}

div#deux-fieldsets-1 form p label {
	width : 100px;
}
div#deux-fieldsets-1 form fieldset#fieldset-1 {
	width : 42%;
}
div#deux-fieldsets-1 form fieldset#fieldset-2 {
	width : 56%;
}

table#table-infos-user-1 {
	position : absolute;
	left : 30px;
	top : 80px;
	background : none;
	width : 640px;
}
table#table-infos-user-2 {
	position : absolute;
	width : 250px;
	left : 690px;
	top : 80px;
}
table#table-infos-user-2 tr td {
	line-height : 1.2em;
}

table.table-droits-user tr td {
	line-height : 1.2em;
}



form.form-droits fieldset#fieldset-1 {
	display : block;
	float : left;
	width : 440px;
}
form.form-droits fieldset#fieldset-2 {
	display : block;
	float : right;
	width : 440px;
}
form.form-droits fieldset#fieldset-3 {
	clear : both;
	display : block;
	text-align : right;
}

form.form-droits input {
}
form.form-droits input.submit {
	margin-right : 100px;
}
form.form-droits label {
	margin : 0px;
	padding : 0px;
	margin-right : 10px;
}
form.form-droits table {
	width : 430px;
}
form.form-droits table tr td {
	height : 25px;
	border-bottom : solid 1px #ccc;
	padding : 4px;
	font-size:0.9em;
}




