@import "boutons-icones.css";
div#specific-1 {
	position : absolute;
	right : 10px;
	top : 6px;
}

form.serre1 fieldset {
	border : 0px solid #000;
	padding-top:0px;
}
fieldset#fieldset-1 {
	background : none;
}

fieldset#fieldset-2 {
	background : none;
}

div#deux-fieldsets-1 form p label {
	width : 100px;
}


div#deux-fieldsets-1 form input[type=text], div#deux-fieldsets-1 form textarea {
	width : 350px;
}

div#deux-fieldsets-1 form fieldset#fieldset-1 {
	float : left;
	width : 400px;
	margin-right : 10px;
}
div#deux-fieldsets-1 form fieldset#fieldset-2 {
	float : left;
	width : 160px;
	margin-right : 10px;
}
div#deux-fieldsets-1 form fieldset#fieldset-3 {
	float : left;
	width : 160px;
	margin-right : 10px;
}
div#deux-fieldsets-1 form fieldset#fieldset-4 {
	float : left;
	width : 160px;
	margin-right : 10px;
}

div.filtres {
	background : #F3FDCE;
	padding : 5px;
	margin-bottom : 5px;
}
div.filtres p {
	float : right;
}
div.filtres label {
	display : block;
	padding-top : 3px;
	padding-left : 4px;
	padding-right : 20px;
	float : right;
}
div.filtres input[type=submit] {
	height : 22px;
	padding : 0px;
	padding-left : 10px;
	padding-right : 10px;
	margin : 0px;
}


