<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
     <div id="icones-haut-droite">
		<a class="avec-tooltip thickbox bouton-icone-aide-32" 
		href="<?php echo "$appurl"; ?>/ajax_aide/?page=dev-tracker" 
		title="Aide sur les tickets du tracker">
		</a>
		<a class="avec-tooltip bouton-icone-modifier-32" 
		href="<?php echo "$appurl"; ?>/tracker/editer_ticket?id_ticket=<?php echo $id_ticket; ?>" 
		title="Editer le ticket du tracker">
		</a>
     </div>
</div>
<div id="" class="cols1 contenu full">
	<h1><?php if (isset($titre)) echo $titre; ?></h1>
	
</div>
<div id="" class="twothird contenu">
	<?php if (isset($ticket['description'])) echo "<div class=\"box-notes\">$ticket[description]</div>"; ?>
	<div class="">
		<h3>Rapport</h3>
		<?php if (isset($ticket['rapport']) && $ticket['rapport'] != '') echo "$ticket[rapport]"; ?>
	</div>
</div>
<div id="" class="third contenu">
	<div class="">
		<p>
			Type :<br />
			&nbsp;&nbsp;
			<strong>
			<?php echo $ticket['type']; ?>
			</strong>
			<br />
		</p>
		<p>
			Priorit&eacute; :<br />
			&nbsp;&nbsp;
			<strong>
			<?php echo $ticket['priorite']; ?>
			</strong>
			<br />
		</p>
		<p>
			Statut :<br />
			&nbsp;&nbsp;
			<strong>
			<?php echo $ticket['statut']; ?>
			</strong>
			<br />
		</p>
		<br />
		<div style="font-size:0.8em;background:#ddd">
			<p>Ticket n. <?php echo $id_ticket; ?></p>
			<p>Cr&eacute;&eacute; <strong><?php echo $ticket['date_creation']; ?></strong></p>
			<p>Cr&eacute;&eacute; par <strong><?php echo $nom_creation; ?></strong></p>
			<p>Modifi&eacute; le <strong><?php echo $ticket['date_modif']; ?></strong></p>
			<p>Modifi&eacute; par <strong><?php echo $nom_modif; ?></strong></p>
		</div>
		<div class="box-notes" style="position:relative">
		 <?php foreach($fichiers as $k => $fichier) { ?>
			<p>
				<a href="<?php echo "$urlfiles/$k"; ?>"><?php echo $fichier; ?></a>
			</p>
		 <?php } ?>
		 <br />
		</div>
	</div>
		
	
</div>

