<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
</div>
<div id="" class="cols1 contenu full">
	<h1>Ticket</h1>
	<?php echo "$form"; ?>


	<div class="contenu full">
		<a class="avec-tooltip thickbox" 
		href="<?php echo "$appurl"; ?>/ajax_tracker/ajouter_fichier?id_ticket=<?php echo $id_ticket; ?>" 
		title="Ajouter un fichier">
		Ajouter un fichier
		</a>
	</div>
	<table id="table_data" class="display">
	<thead>
		<tr>
			<th>Fichiers joints</th>
			<th><br /></th>
			<th><br /></th>
		</tr>
	</thead>
	<?php
		foreach($fichiers as $k => $f)
		{
			echo "<tr>";
			echo "<td>".$f."</td>";
			echo "<td><a href=\"$urlfiles/$k\" title=\"Chargement d'un fichier\">charger</a></td>";
			echo "<td><a href=\"$appurl/tracker/action_supprimer_fichier?file=$k&id_ticket=$id_ticket\" title=\"Suppression d'un fichier\">supprimer</a></td>";
			echo "</tr>";
		}
	?>
	</table>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#table_data').dataTable( {
			"aLengthMenu": [[10, 15, 20, 50, 100, -1], [10, 15, 20, 50, 100, "Tous"]],
			"iDisplayLength": 5,
			"bPaginate": true,
			"iDisplayLength": 5,
			"bProcessing": true,
			"bLengthChange": false,
			"bFilter": false,
			"bSort": true,
			"bInfo": false,
			"bAutoWidth": false,
			"aoColumns": [
				null,
				{ "bSortable": false },
				{ "bSortable": false }
        ], 
		"oLanguage": { "sUrl": "<?php echo $appurl; ?>/assets/libs/DataTables-1.9.0/translation.french.txt" }
		} );
  	} );
</script>


</div>

