<div class="contenu full">
	<?php if (isset($ariane)) echo $ariane; ?>
     <div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
		<?php if (verif_droits_acces('admin')) { ?>
			<a class="avec-tooltip bouton-icone-ajouter-32" href="<?php echo "$appurl"; ?>/tracker/ajouter_ticket" title="Ajouter un ticket au tracker"></a>
		<?php } ?>
     </div>
</div>
<div id="" class="cols1 contenu full">
	<h1>Tracker - gestion des anomalies et des &eacute;volutions</h1>
	<div class="filtres">
		<form action="<?php echo "$appurl"; ?>/tracker" method="post">
		<p>
			<label for="statut5">Report&eacute;</label>
			<input type="radio" id="statut5" name="affstatut" value="Reporté" <?php if(isset($affstatut) && $affstatut=="Reporté") echo 'checked="checked"'; ?> />
		</p>
		<p>
			<label for="statut4">R&eacute;fus&eacute;</label>
			<input type="radio" id="statut4" name="affstatut" value="Réfusé" <?php if(isset($affstatut) && $affstatut=="Réfusé") echo 'checked="checked"'; ?> />
		</p>
		<p>
			<label for="statut3">Termin&eacute;</label>
			<input type="radio" id="statut3" name="affstatut" value="Terminé" <?php if(isset($affstatut) && $affstatut=="Terminé") echo 'checked="checked"'; ?> />
		</p>
		<p>
			<label for="statut2">Valid&eacute;</label>
			<input type="radio" id="statut2" name="affstatut" value="Validé" <?php if(isset($affstatut) && $affstatut=="Validé") echo 'checked="checked"'; ?> />
		</p>
		<p>
			<label for="statut1">Propos&eacute;</label>
			<input type="radio" id="statut1" name="affstatut" value="Proposé" <?php if(isset($affstatut) && $affstatut=="Proposé") echo 'checked="checked"'; ?> />
		</p>
		<p>
			<label for="statut6"><strong>Tous</strong></label>
			<input type="radio" id="statut6" name="affstatut" value="" <?php if(!isset($affstatut) || $affstatut=="") echo 'checked="checked"'; ?> />
		</p>
		<p>
			<label for="submit">&nbsp;</label>
			<input type="submit" name="submit" value="Filtrer" />
		</p>
		<br class="clear" />
	</form>
	</div>
	<table id="table_data" class="display">
	<thead>
		<tr>
			<th>No</th>
			<th>Titre</th>
			<th>Type</th>
			<th>Priorit&eacute;</th>
			<th>Statut</th>
			<th>Cr&eacute;ation</th>
			<th>Modification</th>
			<th><br /></th>
			<th><br /></th>
			<th><br /></th>
		</tr>
	</thead>
	<?php
		for($i=0; isset($table[$i]); $i++)
		{
			$row = $table[$i];
			$id_ticket = $row['id_tracker'];
			echo "<tr>";
			echo "<td>".$id_ticket."</td>";
			echo "<td>".$row['titre']."</td>";
			echo "<td>".$row['type']."</td>";
			echo "<td>".$row['priorite']."</td>";
			echo "<td>".$row['statut']."</td>";
			echo "<td>".$row['date_creation']."</td>";
			echo "<td>".$row['date_modif']."</td>";
			echo "<td><a href=\"$appurl/tracker/afficher_ticket?id_ticket=$id_ticket\">d&eacute;tails</a></td>";
			echo "<td><a href=\"$appurl/tracker/editer_ticket?id_ticket=$id_ticket\">&eacute;diter</a></td>";
			echo "<td><a href=\"$appurl/tracker/action_supprimer_ticket?id_ticket=$id_ticket\">supprimer</a></td>";
			echo "</tr>";
		}
	?>
	</table>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#table_data').dataTable( {
			"bPaginate": true,
			"iDisplayLength": <?php echo $_SESSION[IDAPPLI]['user']['params']['nb_lignes']; ?>,
			"bProcessing": true,
			"bLengthChange": true,
			"bFilter": true,
			"bSort": true,
			"bInfo": true,
			"bAutoWidth": false,
			"aoColumns": [
				null,
				null,
				null,
				null,
				null,
				null,
				null,
				{ "bSortable": false },
				{ "bSortable": false },
				{ "bSortable": false }
        ] 
		} );
  	} );
</script>

</div>

