form input[type=input], form input[type=password], form input[type=file] {
	margin : 4px;
	padding : 4px;
	font-size : 1.2em;
	background: url(../../notjustagrid/images/notjustagrid/misc/formyellowbacknotreq.gif) repeat-x scroll right top #FAFAD8;
	float : none;
}

form input[type=submit], form input[type=button] {
	padding : 6px;
	padding-left : 20px;
	padding-right : 20px;
}

form input.obligatoire, form input.requiredfield {
	background: url(../../notjustagrid/images/notjustagrid/misc/formyellowback.gif) repeat-x scroll right top #FAFAD8;
}

form p {
	text-align : center;
	margin-bottom : 10px;
}

form label {
	text-align : center;
	float : none;
	width : 100%;
	display : block;
}
