/* passer tous les éléments de largeur fixe en largeur automatique */
body, element1, element2 {
	width: auto;
	margin: auto;
	padding: 0;
	min-width: 100px
}
/* fixer une largeur maximale de 100 % aux éléments potentiellement problématiques */
img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video {
	max-width: 100%;
}
/* conserver le ratio des images et empêcher les débordements de boîtes dûs aux border ou padding */
img {
	height: auto; width: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
/* gestion des mots longs */
textarea, table, td, th, code, pre, samp {
	word-wrap: break-word; /* passage à la ligne forcé */
	-webkit-hyphens: auto; /* césure propre */
	-moz-hyphens: auto;
	hyphens: auto;
}
code, pre, samp {
	white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
}
/* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */
element1, element2 {
	float: none !important;
	width: auto !important
}
/* masquer les éléments superflus */
.hide_mobile {
	display: none !important;
}


/* --------------------------------------------------------------------- */
body {
	background : #fff;
	padding-top : 0px;
}
div#container {
	padding : 6px;
	/* background : #fff; */
	min-height : 400px;
}

div#header {
	background : url(../../../images/bandeau_smart.png);
	height : 64px;
}
div#bandeau-text1 {
	display: none !important;
}
div#bandeau-text2 h1, div#bandeau-text2 h2 {
	color : #fff;
	font-size : 11px;
	position : absolute;
	right : 6px;
	top : 30px;
	text-decoration : none;
	font-style : none;
	text-shadow : none;
}
div#bandeau-text1 h2 {
	color : #fff;
	font-size : 11px;
	position : absolute;
	right : 6px;
	top : 30px;
	text-decoration : none;
	font-style : none;
	text-shadow : none;
}
div#footer {
	background:#363C49;
	color:#fff;
	text-decoration : none;
	font-style : none;
	text-shadow : none;
	padding : 4px;
	margin : 0px;
}
div#footer-1 {
	padding : 0px;
	margin : 0px;
	color : #fff;
	font-size : 11px;
}
div#footer-2 a {
	color : #fff;
	font-size : 11px;
	text-align : right;
	display : block;
	margin-right : 6px;
}
