body {
	font : 96%/1.1 Helvetica, Arial, sans-serif;
}
h1 {
	font-size : 1.3em;
	padding : 0px;
	margin : 4px;
	color : #000;
	font-weight : bold;
	text-align:center;
}
h2 {
	font-size : 1.2em;
	padding : 0px;
	margin : 4px;
	color : #564504;
	font-weight : bold;
	text-align:center;
}
h3 {
	font-size : 1.1em;
	padding-top : 0px;
	margin-top : 0px;
	color : #576074;
}
h4 {
	font-size : 1.0em;
	padding-top : 0px;
	margin-top : 0px;
	color : #739107;
}
p, div {
	line-height : 1.3em;
	padding :0px;
	margin :0px;
}
div {
}

.text_left {
	text-align : left;
}
.text_justify {
	text-align : justify;
}

table.display {
	font-size : 0.9em;
}
table.display td {
	line-height : 1.1em;
}

ul {
}

ul li {
}
