<div>&nbsp;</div>
<div id="" class="cols2gauche contenu threefifth text_center">
	<h1><?php echo _M("titre"); ?></h1>
	<div class="box-identification round_5">
		<?php echo $form; ?>
	</div>
</div>
<div id="" class="cols2droite contenu twofifth">
	<p>&nbsp;</p>
	<?php if (Atomik::get('app/smartphone') != 1) { ?>
		<?php // echo _F('infos-authentification.inc.html'); ?>
		<?php echo _M("message"); ?>
	<?php } ?>
</div>
