<?php if (isset($ariane)) echo $ariane; ?>
<div id="" class="cols1 contenu full">
	<h1>XXX</h1>
	<h2>Page : login/recuperer_password</h2>
	<?php echo "$texte"; ?>
	<?php



 echo "$form"; ?>

</div>

