<?php Atomik_Backend_Assets::addStyle('css/filter.css', 'db'); ?>

<div id="content-wrapper">
	<div class="panel">
		<h2 class="panel-title"><?php echo $modelName ?></h2>
		<div class="panel-content" id="content">
			<?php echo $this->modelSearch($builder) ?>
			<?php echo $this->modelDataTable($modelName, $models, array(
						'url' => $editUrl,
						'columns' => $columns,
						'actions' => array(
							array('label' => __('Delete'), 'url' => $deleteUrl)
						)
			))->render() ?>
		</div>
	</div>
</div>
<div id="sidebar-wrapper">
	<div id="sidebar">
		<?php echo $this->sidebarButton(
			__('Create a new %s', $modelName), 
			$editUrl,
			Atomik::asset('images/new.png')
		) ?>
		<?php echo $this->modelFilters($builder) ?>
	</div>
</div>
