<ul>
	<li style="margin-bottom:0.6em;">
		<a class="" target="_blank" href="http://www.atomikframework.com/">Atomik officiel</a><br />
		<a class="thickbox-panel" href="<?php echo Atomik::get('atomik/appurl'); ?>/ajax_aide/?page=fw3-atomik_rappels">Atomik - notes</a>
	</li>
	<li style="margin-bottom:0.6em;">
		<a class="thickbox-panel" href="<?php echo Atomik::get('atomik/appurl'); ?>/ajax_aide/?page=fw3-aide">Aide dans les pages</a>
	</li>
	<li style="margin-bottom:0.6em;">
		<a class="" target="_blank" href="http://framework.zend.com/manual/fr/zend.db.html">Zend DB officiel</a><br />
		<a class="thickbox-panel" href="<?php echo Atomik::get('atomik/appurl'); ?>/ajax_aide/?page=fw3-zend_mysql">Zend DB notes</a>
	</li>
	<li style="margin-bottom:0.6em;">
		<a class="" target="_blank" href="<?php echo Atomik::get('atomik/appurl'); ?>/doc/not_just_a_grid">notjustagrid CSS officiel</a><br />
		<a class="thickbox-panel" href="<?php echo Atomik::get('atomik/appurl'); ?>/ajax_aide/?page=fw3-notjustagrid">notjustagrid CSS notes</a>
	
	</li>
	<li style="margin-bottom:0.6em;">
		<a class="" target="_blank" href="http://www.tcpdf.org/examples.php">librairie TCPDF</a><br />
	
	</li>
	<li style="margin-bottom:0.6em;">
		<a class="" target="_blank" href="http://jquery.developpeur-web2.com/documentation.php">jQuery officiel</a><br />
		<a class="thickbox-panel" href="<?php echo Atomik::get('atomik/appurl'); ?>/ajax_aide/?page=fw3-jquery">jQuery notes</a>
	
	</li>
	<li style="margin-bottom:0.6em;">
		<a class="thickbox-panel" href="<?php echo Atomik::get('atomik/appurl'); ?>/ajax_aide/?page=fw3-fbgrid">FB-Forms</a><br />
		<a class="thickbox-panel" href="<?php echo Atomik::get('atomik/appurl'); ?>/ajax_aide/?page=fw3-framework">FW3 Notes</a>
	
	</li>
</ul>

