	<ul>
	<li>
		<a href="<?php echo Atomik::get('atomik/appurl'); ?>/fw3/doc_display?doc=Conventions css">css</a>
	</li>
	<li>
		<a href="<?php echo Atomik::get('atomik/appurl'); ?>/fw3/doc_display?doc=Conventions db">database</a>
	</li>
</ul>
