<ul>
	<li>
		<a href="<?php echo Atomik::get('atomik/appurl'); ?>/fw3/sessions">sessions en cours</a>
	</li>
	<li>
		<a href="<?php echo Atomik::get('atomik/appurl'); ?>/fw3/nouvelle_page">création d'une page</a>
	</li>
	<li>
		<a href="<?php echo Atomik::get('atomik/appurl'); ?>/fw3/crypt_passwd">calculer un mot de passe</a>
	</li>
	<li>
		<a class="thickbox" href="<?php echo Atomik::get('atomik/appurl'); ?>/ajax_aide/?page=dev-changelog" title="Modifications par version">Changelog</a>
	</li>
	<li>
		<a class="" href="<?php echo Atomik::get('atomik/appurl'); ?>/tracker" title="Suivi d'évolutions et de corrections">Tracker</a>
	</li>
</ul>
