<form action="<?php echo Atomik::get('atomik/appurl')."/".Atomik::get('request_uri'); ?>" method="post">
<input type="hidden" name="cmd" value="setdebugaffiche" />
<ul>
	<li>
		<input type="checkbox" name="session" <?php if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/session') == 'oui') echo "checked"; ?> value="oui" />session
	</li>
	<li>
		<input type="checkbox" name="atomik" <?php if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/atomik') == 'oui') echo "checked"; ?> value="oui" />atomik
	</li>
	<li>
		<input type="checkbox" name="conf" <?php if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/conf') == 'oui') echo "checked"; ?> value="oui" />conf
	</li>
	<li>
		<input type="checkbox" name="server" <?php if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/server') == 'oui') echo "checked"; ?> value="oui" />server
	</li>
	<li>
		<input type="checkbox" name="getpost" <?php if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/getpost') == 'oui') echo "checked"; ?> value="oui" />get/post
	</li>
	<?php /* ?>
	<li>
		<input type="checkbox" name="logs" <?php if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/logs') == 'oui') echo "checked"; ?> value="oui" />logs
	</li>
	<li>
		<input type="checkbox" name="divers" <?php if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/divers') == 'oui') echo "checked"; ?> value="oui" />divers
	</li>
	<?php */ ?>
	<li>
		<input type="submit" value="Valider" />
	</li>
</ul>
</form>

