<p class="palette color1a">
	color1a #F4F5F7
</p>
<p class="palette color1b">
	color1b #BEC3CF
</p>
<p class="palette color1c">
	color1c #576074
</p>
<p class="palette color1d">
	color1d #363C49
</p>

<p class="palette color2a">
	color2a #F3FDCE
</p>
<p class="palette color2b">
	color2b #C4F413
</p>
<p class="palette color2c">
	color2c #739107
</p>
<p class="palette color2d">
	color2d #465804
</p>

<p class="palette color3a">
	color3a #FCF1C4
</p>
<p class="palette color3b">
	color3b #F4C413
</p>
<p class="palette color3c">
	color3c #907207
</p>
<p class="palette color3d">
	color3d #564504
</p>
