<div id="content-wrapper">
	<div class="panel">
		<h2 class="panel-title"><?php echo __('Models') ?></h2>
		<div class="panel-content" id="content">
			<?php echo $this->dataTable('models', $models, array(
						'columns' => array('name'),
						'idColumn' => 'name',
						'url' => Atomik::url('models/list'),
						'urlParam' => 'name'
			))->render() ?>
		</div>
	</div>
</div>
<div id="sidebar-wrapper">
	<div id="sidebar">
		<p>
			<?php echo __('Models listed beside are the ones found in your models directories and are marked as editable.') ?>
		</p>
		<p>
			<?php echo __('You can prevent a model from being editable here using the admin-ignore option.') ?>
		</p>
	</div>
</div>
