<div class="debug-texte">
<h4>Debug informations</h4>
<p>id appli : <?php echo IDAPPLI; ?></p>
<?php
	global $CONF; 
	if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/session') == 'oui') 
	{
		printr($_SESSION[IDAPPLI], "_SESSION[".IDAPPLI."]");
		echo "<hr />\n";
	}
	if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/conf') == 'oui') 
	{
		printr($CONF, "CONF");
		echo "<hr />\n";
	}
	if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/atomik') == 'oui') 
	{
		printr(Atomik::$store, "ATOMIK");
	}
	if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/server') == 'oui') 
	{
		printr($_SERVER, "SERVER");
	}
	if(Atomik::get('session/'.IDAPPLI.'/dev/afficher/getpost') == 'oui') 
	{
		if (isset($_GET)) printr($_GET, "GET");
		if (isset($_POST)) printr($_POST, "POST");
	}
?>
</div>
