<?php $pars = ''; if (isset($_GET)) {foreach($_GET as $k => $v) {if ($k != 'action' && $k != 'cmd'){$pars .= "&$k=$v";}}} ?>
<div id="develop-panel" class="debug">
	<h5>DEVELOP PANEL</h5>
			<a href="<?php echo Atomik::get('atomik/appurl')."/".Atomik::get('request_uri'); ?>/?cmd=setdevoff<?php echo $pars; ?>">fermer</a>
	<div class="accordion2">
			<h3>afficher infos</h3>
			<div>
				<?php include Atomik::get('atomik/apppath')."/assets/includes/dev-panel-config.html" ?>
			</div>
			<h3>palette couleurs</h3>
			<div>
				<?php include Atomik::get('atomik/apppath')."/assets/includes/dev-panel-coleurs.html" ?>
			</div>
			<h3>outils</h3>
			<div>
				<?php include Atomik::get('atomik/apppath')."/assets/includes/dev-panel-framework.html" ?>
			</div>
			<h3>documentation</h3>
			<div>
				<?php include Atomik::get('atomik/apppath')."/assets/includes/dev-panel-documentation.html" ?>
			</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	
	$(".accordion2 h3").eq(0).addClass("active");
	$(".accordion2 div").eq(0).show();

	$(".accordion2 h3").click(function(){
		$(this).next("div").slideToggle("slow")
		.siblings("div:visible").slideUp("slow");
		$(this).toggleClass("active");
		$(this).siblings("h3").removeClass("active");
	});

});
</script>
