<div id="footer-1">
	<?php // if (Atomik::get('session/'.IDAPPLI.'/user/login') != '') { ?>
		<?php echo Atomik::get('application/description').' version '.Atomik::get('application/version'); ?>
	<?php // } ?>
</div>
<div id="footer-2">
	<?php if (Atomik::get('session/'.IDAPPLI.'/user/login') != '') { ?>
		<a href="<?php echo Atomik::get('atomik/appurl'); ?>/login/logout" data-ajax="false" title="Quitter la session active">D&eacute;connexion</a>
	<?php } ?>
</div>
