<div id="footer-admin">
	<?php // if (Atomik::get('session/'.IDAPPLI.'/user/login') != '') { ?>
		<?php echo Atomik::get('application/description').' version '.Atomik::get('application/version'); ?>
	<?php // } ?>
</div>
<div id="footer-deconnexion">
	<?php if (Atomik::get('session/'.IDAPPLI.'/user/login') != '') { ?>
		<?php /*
		<a class="thickbox" style="color:#F3C413" href="<?php echo Atomik::get('atomik/appurl'); ?>/ajax_aide/?page=dev-informations_version" title="Informations sur la version actuelle">Etat de la version</a>
		&nbsp;&nbsp;
		*/ ?>
		<a href="<?php echo Atomik::get('atomik/appurl'); ?>/doc_pdf" title="Documentation de l'application GestPar">Documentation</a>	<?php } ?>
		&nbsp;&nbsp;&nbsp;
	<?php if (Atomik::get('atomik/debug') == true) { 
		// éventuels paramètres dans l'URL
		$pars = ''; 
		if (isset($_GET)) 
		{
			foreach($_GET as $k => $v) 
			{
				if ($k != 'action' && $k != 'cmd')
				{
					$pars .= "&amp;$k=$v";
				}
			}
		}
	?>
		<?php if (false) { ?>
		<?php if (!isset($_SESSION[IDAPPLI]['develop-panel']) || $_SESSION[IDAPPLI]['develop-panel'] == false) { ?>
			<a href="<?php echo Atomik::get('atomik/appurl')."/".Atomik::get('request_uri'); ?>/?cmd=setdevon<?php echo $pars; ?>" title="Activer le panneau de d&eacute;veloppement">D&eacute;velop</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<?php } ?>
		<?php } ?>
	<?php } ?>
	<?php if (Atomik::get('session/'.IDAPPLI.'/user/login') != '') { ?>
		<a href="<?php echo Atomik::get('atomik/appurl'); ?>/login/logout" title="Quitter la session active">D&eacute;connexion</a>
	<?php } ?>
</div>
