<div id="bandeau-text1" >
<h2>
<?php
	$str = '';
	$str .= Atomik::get('session/'.IDAPPLI.'/user/nom');
	if (Atomik::get('session/'.IDAPPLI.'/user/droits/webmaster') == '1')
	{
		if ($str != '') $str .= ', ';
		$str .= "Super-administrateur";
	}
	elseif (Atomik::get('session/'.IDAPPLI.'/user/droits/admin') == '1')
	{
		if ($str != '') $str .= ', ';
		$str .= "Administrateur";
	}

	if ($str == "") $str = Atomik::get('application/description');
	echo $str;
?>
</h2>
</div>
<div id="bandeau-text2">
<?php
	$str = '';
	if (Atomik::get('page/controleur') == 'smart_annuaire')
	{
		echo "<h2>Annuaire dioc&eacute;sain</h2>";
	}
	elseif (Atomik::get('page/controleur') != 'fw3' && Atomik::get('page/controleur') != 'gestion_ensembles' && Atomik::get('page/controleur') != 'imports_superadmin')
	{
		// Ne pas afficher le nom de l'ensemble quand on est dans des fonctions de super-administration
		$str .= Atomik::get('session/'.IDAPPLI.'/user/nom_ensemble');
		echo "<h2>$str</h2>";
	}
?>
</div>
