<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title><?php echo A('app/title', 'FBWork4') ?></title>

		<!-- styles du framework css notjustagrid : http://www.notjustagrid.com -->
		<link rel="stylesheet" type="text/css" href="<?php echo Atomik::get('atomik/appurl'); ?>/assets/css/notjustagrid/css/reset.css"/>
		<link rel="stylesheet" media="screen" href="<?php echo Atomik::get('atomik/appurl'); ?>/assets/css/notjustagrid/css/grid960.css" />
		<?php 
		/* pas de changement de grille 
		<link rel="stylesheet" media="screen and (min-device-width: 1281px)" href="assets/css/notjustagrid/css/grid1200.css" />
		<link rel="stylesheet" media="screen and (min-device-width: 1400px)" href="assets/css/notjustagrid/css/grid1380.css" />
		<link rel="stylesheet" media="screen and (min-device-width: 1550px)" href="assets/css/notjustagrid/css/grid1500.css" />
		*/ ?>
		<link rel="stylesheet" type="text/css" href="<?php echo Atomik::get('atomik/appurl'); ?>/assets/css/notjustagrid/css/type.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo Atomik::get('atomik/appurl'); ?>/assets/css/notjustagrid/css/tables.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo Atomik::get('atomik/appurl'); ?>/assets/css/notjustagrid/css/forms.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo Atomik::get('atomik/appurl'); ?>/assets/css/notjustagrid/css/helpers.css" />
		<link rel="stylesheet" type="text/css" href="<?php echo Atomik::get('atomik/appurl'); ?>/assets/css/notjustagrid/css/ux.css" />
		<!-- styles supplémentaires de l'application définis dans la configuration générale -->
		<?php foreach (A('styles', array()) as $style): ?>
			<link rel="stylesheet" type="text/css" href="<?php echo Atomik::appAsset($style) ?>" />
		<?php endforeach; ?>
		<!-- styles spécifiques pour le navigateur Internet Explorer -->
		<!--[if IE]><?php foreach (A('ie_styles', array()) as $style): ?>
			<link rel="stylesheet" type="text/css" href="<?php echo Atomik::appAsset($style) ?>" media="screen, projection" />
		<?php endforeach; ?><![endif]-->
		<!-- styles spécifiques pour les informations de debug et de dev -->
		<?php if (Atomik::get('atomik/debug')) { 
			foreach (A('debug_styles', array()) as $style): ?>
			<link rel="stylesheet" type="text/css" href="<?php echo Atomik::appAsset($style) ?>" />
			<?php endforeach;
		} ?>


		<!-- fin styles -->
		
		<?php foreach (A('scripts', array()) as $script): ?>
		<script type="text/javascript" src="<?php echo Atomik::appAsset($script) ?>"></script>
		<?php endforeach; ?>

	</head>
	<body>
	<div id="container2" class="">
		<div id="header" class="full conteneur">
			<?php include("_header.phtml"); ?>
		</div> <!-- end header -->
		<div id="nav" class="full conteneur">
			<?php include("_nav-nonconnecte.phtml"); ?>
		</div> <!-- end nav -->
		<div id="container">
			<div id="contenu-principal" class="full conteneur">
			<?php $AtomikMessages = Atomik::get('flash:all'); ?>
			<?php // echo "<pre>";print_r($AtomikMessages);echo "</pre>"; ?>
			<?php if (is_array($AtomikMessages)) { ?>
				<div id="messages" class="full conteneur">
					<?php foreach ($AtomikMessages as $label => $messages): ?>
						<div class="<?php echo $label ?>">
						<?php foreach ($messages as $message): ?>
							<?php echo $message ?><br />
						<?php endforeach; ?>
						</div>
					<?php endforeach; ?>
				</div> <!-- end messages -->
			<?php } ?>
				<?php echo $contentForLayout; ?>
			</div> <!-- end content -->
			<div id="footer" class="full conteneur">
				<?php include("_footer.phtml"); ?>
			</div> <!-- end footer -->
		</div> <!-- end container -->

		<?php if (Atomik::get('session/'.IDAPPLI.'/develop-panel') == true) { ?>
				<?php include("_dev.phtml"); ?>
		<?php } ?>
		
	</div> <!-- end container2 -->

	<?php if (isset($_SESSION[IDAPPLI]['dev']['afficher'])) { ?>
		<div id="debug" class="full conteneur">
			<?php include("_debug.phtml"); ?>
		</div> <!-- end debug -->
	<?php } ?>
	

</body>
</html>
