<div class="full">
	<?php if (isset($ariane)) echo $ariane; ?>
     <div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
     </div>
</div>
<div class="contenu full">
	<h1>Nouvel utilisateur</h1>
	<?php echo "$form"; ?>
</div>

