<div class="full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
	</div>
</div>
<div id="" class="contenu full">
	<h1><span style="font-weight:normal;">Edition du compte : </span><?php echo $nom_compte; ?></h1>
	<?php echo "$form"; ?>
	<p class="clear">&nbsp;</p>
</div>
<script type="text/javascript">
	$(document).ready(function() {
	});
</script>
