<div class="full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
		<a class="bouton-icone-modifier-32 avec-tooltip" 
			title="Editer les informations du compte" 
			href="<?php echo $baseurl; ?>/outils/editer_compte/?id_compte=<?php echo $id_compte; ?>">
		</a>
	</div>
</div>
<div class="contenu threefifth">
	<h1><?php echo _M("titre"); ?> : <?php echo $compte['nom']; ?></h1>
	<?php echo _F("$view.inc.html"); ?>
	<div>
		<?php if ($compte['notes'] != '') echo '<p class="notes color2a">'.$compte['notes'].'</p>'; ?>
	</div>
	<div>
		Cr&eacute;&eacute; le  <b><?php echo $compte['date_creation']; ?></b>
		<br />
		Derni&egrave;re mise &agrave; jour effectu&eacute;e 
		<br />
		par <b><?php echo $compte['userprenom']." ".$compte['usernom']; ?></b>
		<br />
		le <b><?php echo $compte['date_modif']; ?></b>
	</div>
</div>
<div id="" class="cols2droite contenu twofifth">
	<h4>Administrateurs de l'ensemble</h4>
		<?php if (isset($users) && is_array($users)) { ?>
		<table width="100%">
			<?php foreach($users as $user) { ?>
				<tr>
					<td style="border-bottom:solid 1px #ccc"><?php echo $user['prenom']." ".$user['nom']; ?></td>
					<td style="border-bottom:solid 1px #ccc"><a href="<?php echo $baseurl; ?>/outils/edit_utilisateur/?id_user=<?php echo $user['id_user']; ?>">Editer</a></td>
				</tr>
			<?php } ?>
		</table>
		<?php } ?>
</div>
