<div class="full">
	<?php if (isset($ariane)) echo $ariane; ?>
	<div class="icones-haut-droite">
		<?php echo get_code_button_aide("$controler-$view", "Aide"); ?>
		<?php if (verif_droits_acces('admin')) { ?>
			<a class="bouton-icone-ajouter-32 avec-tooltip"
				href="<?php echo "$appurl"; ?>/outils/ajouter_utilisateur"
				title="Ajouter un utilisateur">
			</a>
		<?php } ?>
	</div>
</div>
<div id="" class="contenu full">
	<h1>Gestion des utilisateurs</h1>
	<table id="table_data" class="display">
	<thead>
		<tr>
			<th>Num</th>
			<th>Identifiant</th>
			<th>Nom</th>
			<th>Admin</th>
			<th>Actif</th>
			<th>Cr&eacute;ation</th>
			<th>Connexion</th>
			<th><br /></th>
			<th><br /></th>
		</tr>
	</thead>
	<?php
		for($i=0; isset($table[$i]); $i++)
		{
			$row = $table[$i];
			echo "<tr>";
			echo "<td>".$row['id_user']."</td>";
			echo "<td>".$row['login']."</td>";
			echo "<td>".$row['prenom']." ".$row['nom']."</td>";
			echo "<td>".$row['dr_admin']."</td>";
			echo "<td>".$row['actif']."</td>";
			echo "<td>".$row['date_creation']."</td>";
			echo "<td>".$row['date_connexion']."</td>";
			echo "<td><a href=\"$appurl/outils/edit_utilisateur?id_user=$row[id_user]\" title=\"Editer l'utilisateur\">&eacute;diter</a></td>";
			echo "<td><a href=\"$appurl/outils/action_supprimer_user?id_user=$row[id_user]\" title=\"Supprimer l'utilisateur\">supprimer</a></td>";
			echo "</tr>";
		}
	?>
	</table>
<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$('#table_data').dataTable( {
			"aLengthMenu": [[10, 15, 20, 50, 100, -1], [10, 15, 20, 50, 100, "Tous"]],
			"iDisplayLength": <?php echo $_SESSION[IDAPPLI]['user']['params']['nb_lignes']; ?>,
			"bPaginate": true,
			"bProcessing": true,
			"bLengthChange": true,
			"bFilter": true,
			"bSort": true,
			"bInfo": true,
			"bAutoWidth": false,
			"aoColumns": [
				{ "bSearchable": "false", "bVisible": false },
				null,
				null,
				null,
				null,
				null,
				null,
				{ "bSortable": false },
				{ "bSortable": false }
        ],
        "aaSorting": [ [2,'asc'] ],
		"oLanguage": { "sUrl": "<?php echo $appurl; ?>/assets/libs/DataTables-1.9.0/translation.french.txt" }
		} );
  	} );
</script>

</div>

