<!--VTP_MAIN-->
<div id="nav">
<ul>
<!--VTP_LINK_N1-->
	<li id="menuitem-{#MENUITEM}" class="{#CLASSITEM}"><a href="{#LINK}" title="{#LINKTITLE}" class="{#CLASS}"><em class="lft"></em><b>{#LABEL}</b><em class="rgt"></em>
	<!--VTP_NO_MENU_DEROULANT-->
	</a></li>
	<!--/VTP_NO_MENU_DEROULANT-->
	<!--VTP_MENU_DEROULANT-->
		
		<!--[if gte IE 7]><!--></a><!--<![endif]-->
		
		<!--[if lte IE 6]><table><tr><td><![endif]-->
		<ul class="submenu">
		<!--VTP_LINK_N2-->
			<li class="{#CLASSITEM}"><a href="{#LINK}" title="{#LINKTITLE}" class="{#CLASS}">{#LABEL}</a></li>
		<!--/VTP_LINK_N2-->
		</ul>
		<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		</li>
	<!--/VTP_MENU_DEROULANT-->
<!--/VTP_LINK_N1-->
</ul>
</div>
<!--/VTP_MAIN-->

